/** General **/

* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0.5px solid lightblue
}
 
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

    /** Icons **/

li img[src*=".svg"] {
    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(18deg) brightness(106%) contrast(100%);
    height: 1.1em;
    margin-right: 1rem;
 }

 img[src*=".svg"] {
    height: 1.1em;
    margin-right: 1rem;
 }


/** Sidebar, left side **/


.sidebar {
    padding: 1.5rem;
    background-color: rgb(71	134	218	);
    color: rgb(255	255	255	);
    font-weight: 500;
}

.sidebar-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    height: 1rem;
}

.sidebar-block {
    margin: 0 0 3rem 0;
}

.nav-item {
    height: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;   
}

.nav-item:hover {
   color:red;
}

/** Main Content, right side **/

.right-side {
    display: grid;
    grid-template-rows: 120px;
}

.header {
    background-color: rgb(255	255	255	);
    padding: 0 0 0 1rem;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;

   
}

.main-content {

    background-color: rgb(226	230	240	);

    padding: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px
}

/** Header, right side **/

.searchbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.search {
    background-color: rgb(227	231	241	);
    height: 1.5rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
}

.profile-bar-small {

}

.profile-bar-big {

}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

button {
    background-color: rgb(71	134	218	);
    color: rgb(255	255	255	);
    height: 35px;
    width: auto;
    border: none;
    border-radius: 20px;
    
}

/** Projects, right side **/

.projects {
    
   
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px
}

.card {
    height: 150px;
    background-color: rgb(255	255	255	);
    
}

/** Announcement, right side **/

.announcements {
   
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.ann-item {

}

/** Trending, right side **/

.trending {
    
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.trend-item {

}





